In [6]:
from supabase import create_client, Client
import pandas as pd
url= "https://eumannexpgcfrvoqbuju.supabase.co"
key= "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV1bWFubmV4cGdjZnJ2b3FidWp1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDQ0NTk2MzEsImV4cCI6MjAyMDAzNTYzMX0.II_qigLdOdIctDvlyDCJIsxOZbzQmn-Pxjio1CRQHK4"
supabase: Client = create_client(url, key)

In [31]:
datalis = supabase.table("mahasiswa").select('*').eq('nim','1234').execute().data
datalis

2024-01-06 07:54:13,919:INFO - HTTP Request: GET https://eumannexpgcfrvoqbuju.supabase.co/rest/v1/mahasiswa?select=%2A&nim=eq.1234 "HTTP/1.1 200 OK"

[]

In [30]:
datalis = supabase.table('mahasiswa').select('*').execute().data
datalis

2024-01-06 07:53:38,600:INFO - HTTP Request: GET https://eumannexpgcfrvoqbuju.supabase.co/rest/v1/mahasiswa?select=%2A "HTTP/1.1 200 OK"

[{'id': 7,
  'nama': 'tekad1234',
  'nim': '12345678910',
  'created_at': '2024-01-05T13:38:49.778227+00:00'},
 {'id': 6,
  'nama': 'tekad1234',
  'nim': 'A11.2019.11787',
  'created_at': '2024-01-05T13:38:37.158027+00:00'},
 {'id': 5,
  'nama': 'Tekad Agung Nugroho',
  'nim': 'A11.2019.11787',
  'created_at': '2024-01-05T13:37:18.13719+00:00'}]

In [23]:
df = pd.DataFrame(columns=["NO ID","Nama","Nim"])

In [26]:
for i in range(0,len(datalis)):
    currentItem=datalis[i]
    df.loc[i] = [datalis[i]["id"],datalis[i]["nama"],datalis[i]["nim"]]

In [27]:
df

   NO ID       Nama             Nim
0      1      tekad  a11.2019.11787
1      4        asd         asd1234
2      5      asd23         asd1234
3      6  tekad1234         asd1234
4      7  tekad1234        asd12346